*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 950px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap:20px ;
    grid-row-gap:20px ;

}

.gallery img{
    width: 100%;
    border: 3px solid black;
    box-shadow: 0 2px 20px rgba(0,0,0);
}